.u-section-1 {
  background-image: url("images/dasdwa.jpg");
  background-position: 50% 50%;
  background-size: 125%;
}

.u-section-1 .u-sheet-1 {
  min-height: 616px;
}

.u-section-1 .u-text-1 {
  width: 551px;
  animation-duration: 1000ms;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  margin: 240px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  width: 551px;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 508px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 389px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-size: 145%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-1 .u-text-1 {
    width: 429px;
  }

  .u-section-1 .u-text-2 {
    width: 366px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 63.63% 73.36%;
    background-size: auto 145%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 275px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 14px auto 60px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 77px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
  min-height: 541px;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 628px;
  pointer-events: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 12px 33px;
}

.u-section-3 .u-text-1 {
  animation-duration: 1000ms;
  font-weight: 700;
  margin: 36px 0 0 50px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 23px 72px 0 50px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.2;
  margin: 12px 72px 0 50px;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 26px 72px 0 50px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  line-height: 1.2;
  margin: 12px 72px 0 50px;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 25px 72px 0 50px;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  line-height: 1.2;
  margin: 12px 72px 0 50px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-1 {
  min-height: 551px;
  pointer-events: auto;
  background-image: url("images/20211017_025030.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 444px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 22px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 22px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 22px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 22px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 22px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 22px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 454px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 338px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 348px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 612px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 522px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 419px;
  }

  .u-section-3 .u-image-1 {
    min-height: 329px;
  }
}